@use "./partials/base/reset";
@use "./partials/base/tipografias";

@use "./partials/components/navbar";
@use "./partials/components/footer";
@use "./partials/components/carrousel";
@use "./partials/components/home";
@use "./partials/components/general";
@use "./partials/components/nosotros";
@use "./partials/components/servicios";
@use "./partials/components/cards";

// BASE //
// COMPONENTS //






